* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Instrument Sans", sans-serif;
    --primary-color: #007F5F;
    --secondary-color: #123524;
    --light-text: #F6F6F6;
    --dark-text: #3D3D3D;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    padding: .5em 1em;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

nav .nav-logo {
    width: 15em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav ul li {
    align-items: center;
    justify-content: center;
}



nav ul a {
    color: var(--light-text);
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.5em;
}

